//Color palette variables
$primary: #ffffff;
$secondary: #6273a1;
$alert: #C06C84;
$accent: #76b4bd;
$neutral: #5e5656;

//Font family variables
$primary-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$secondary-font: Courier;
$small-size: 18px;
$medium-size: 22px;
$large-size: 36px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $neutral;
    font-family: $secondary-font;
    font-weight: lighter;
}

header {
    position: sticky;
    padding: 3vw 3vw 0vw 3vw;
    text-align: center;
    font-size: $large-size;
    z-index: 1;
}

header > h1 {
    color: $accent;
}

#shelf {
    position: relative;
    top: 2vw;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;

    .book {
        margin: 2vw;
        height: 300px;
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-image: url("images/book.png");
        background-size: 200px 300px;
        order: 0;
    
        p {
            font-family: $primary-font;
            transform: rotate(-11deg) skew(-11deg, 0deg);
            overflow: scroll;
            text-overflow: ellipsis;
            width: 150px;
        }

        .title {
            margin: 90px 11px 0px 41px;
            padding: 2px;
            color: $accent;
            font-size: $medium-size;
            border-radius: 2px;
            height: 80px;
        }

        .author {
            background-color: $secondary;
            color: $primary;
            padding: 1px 5px 2px 5px;
            margin: 0px 10px 0px 40px;
            position: relative;
            top: 70px;
        }

        .pages {
            position: relative;
            top: 25px;
            margin: 0px 10px 0px 40px;
            color: $neutral;
            font-size: smaller;
        }

        .read {
            display: none;
        }

        .remove-button {
            display: none;
        }

    }

    .book:hover {
        .read {
            display: initial;
            transform: rotate(270deg);
            position: relative;
            right: 85px;
            bottom: 15px;
            text-align: left;
            color: $secondary;
            opacity: 0.6;
            font-style: italic;
            font-size: smaller;
            cursor: pointer;
        }

        .remove-button {
            display: initial;
            position: relative;
            bottom: 180px;
            left: 80px;
            background-color: $neutral;
            color: $primary;
            border: none;
            border-radius: 22px;
            font-size: 16px;
            height: 22px;
            width: 22px;
            opacity: 0.3;
            padding-bottom: 2px;
        }

        .remove-button:hover {
            background-color: $alert;
            opacity: 0.6;
            cursor: pointer;
        }
    }

    #default-book {
        @extend .book;
    }

    #add-new-book {
        transform: rotate(-10deg) skew(-16deg, 0deg);
        position: relative;
        top: 130px;
        left: 15px;
        border: none;
        border-radius: 4px;
        padding: 5px;
        background-color: $accent;
        font-size: $small-size;
        color: $primary;
    }
    #add-new-book:hover {
        background-color: $alert;
        cursor: pointer;
    }
}

#form-div {
    display: none;
    font-family: $primary-font;
    background-color: $neutral;
    opacity: 0.95;
    // display: block;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    text-align: center;

}

#form {
    position: relative;
    top: 180px;
    background-color: $secondary;
    width: 400px;
    height: 400px;
    margin: auto;

    h1 {
        width: 400px;
        padding: 15px;
        text-align: center;
        background-color: $secondary;
        color: $primary;
        font-family: $primary-font;
        font-size: $large-size;
    }

    #form-table {
        text-align: left;
        margin: 0px 10px 20px 40px;
        width: 400px;
        font-size: $small-size;
        font-weight: lighter;
        font-style: italic;

        td {
            padding: 10px;
        }
    }

    #read-radio {
        display: flex;
        flex-direction: column;
        input {
            margin: 0px 10px 0px 0;
        };
    }

    #submit-form {
        border: none;
        border-radius: 5px;
        padding: 6px 10px 5px 10px;
        background-color: $accent;
        font-size: $small-size;
        font-family: $secondary-font;
        color: $primary;

        &:hover {
            background-color: $alert;
        }
    }
}

.hide-form {
    display: none;
}

.show-form {
    display: initial;
}